{% extends "base.html.twig" %}

{% block title %}AppBundle:SecurityController:resetPassword{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                Reset password link was send to your email.
            </div>
        </div>
    </div>
{% endblock %}