{% extends "::base.html.twig" %}

{% block title %}AppBundle:SecurityController:resetPassword{% endblock %}

{% block body %}
<h1>Welcome to the SecurityController:resetPassword page</h1>
{% endblock %}
