{% extends "base.html.twig" %}

{% block title %}AppBundle:Profile:index{% endblock %}

{% block body %}
    <div class="container">
        <h1>User: {{ user.username }}</h1>
    </div>
{% endblock %}
